# Example 1

In [1]:
#Import pandas library and read DataFrame from DATA_PATH
import pandas as pd
import numpy as np
from pathlib import Path
DATA_PATH = Path("../datasets/chap5_data/")
passenger_df = pd.read_csv(DATA_PATH/"AirPassengersDates.csv")
passenger_df.head()

         Date  #Passengers
0  1949-01-12          112
1  1949-02-24          118
2  1949-03-22          132
3   1949-04-5          129
4  1949-05-24          121

In [2]:
passenger_df["Date"] = pd.to_datetime(passenger_df["Date"])
passenger_df.head()

        Date  #Passengers
0 1949-01-12          112
1 1949-02-24          118
2 1949-03-22          132
3 1949-04-05          129
4 1949-05-24          121

# Example 2

In [3]:
passenger_df["month"] = passenger_df["Date"].dt.month
passenger_df["day"] = passenger_df["Date"].dt.day

In [4]:
passenger_df["day_name"] = passenger_df["Date"].dt.day_name()

In [5]:
passenger_df.head()

        Date  #Passengers  month  day   day_name
0 1949-01-12          112      1   12  Wednesday
1 1949-02-24          118      2   24   Thursday
2 1949-03-22          132      3   22    Tuesday
3 1949-04-05          129      4    5    Tuesday
4 1949-05-24          121      5   24    Tuesday